/* UNIVERSAL */

.btn,
.btn:link,
.btn:active {
	font-size: 2rem;
	background-color: inherit;
	padding: 0.8rem 1.6rem;
	color: #ffc107;
	border: 1px solid #ffc107;
	border-radius: 0.5rem;

	transition: all 0.2s;
}

.btn:hover {
	color: #ffc107;
	text-decoration: underline;

	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* PAGE */

.home {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5rem;

	backface-visibility: hidden;
	overflow-x: hidden;
}

.navBtnBox {
	width: 100%;
	text-align: right;
	padding-top: 1.5rem;

	animation: moveInRight 1s ease-out;
}

.homeMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: 7.2rem;
	font-weight: 300;
	line-height: 1.2;

	animation: moveInLeft 1s ease-out;
}

.btnContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 30px;

	animation: moveInBottom 0.5 ease-out 0.75s;
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translate(-10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translate(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
