/********* DESKTOP **********/

/* UNIVERSAL */

.btn,
.btn:link,
.btn:active {
	font-size: 1.3rem;
	background-color: inherit;
	padding: 0.5rem 1rem;
	color: #ffc107;
	border: 1px solid #ffc107;
	border-radius: 7%;

	transition: all 0.3s;
}

.btn:hover {
	color: #ffc107;
	text-decoration: underline;

	transform: translateY(-0.3rem);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-0.1rem);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* PAGE */

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;

	backface-visibility: hidden;
	overflow-x: hidden;
	color: #fff;
}

.navBtnBox {
	width: 100%;
	text-align: right;
	padding-top: 1rem;

	animation: moveInRight 1s ease-out;
}

.homeMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;

	animation: moveInLeft 1.5s ease-out;
}

.btnContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	gap: 2rem;

	animation: moveInBottom 1 ease-out 0.75s;
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translate(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translate(1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

/********** RESPONSIVE **********/

/***** Tablet Portrait ****/

@media screen and (min-width: 37.5em) and (max-width: 56.25em) {
	.navBtnBox {
		text-align: center;
		padding: 0;
	}

	.heading {
		font-size: 3.5rem;
		text-align: center;
	}

	.btnContainer {
		flex-direction: column;
		align-items: center;
		gap: 0;
	}

	.btn,
	.btn:link,
	.btn:active {
		margin-bottom: 1.5rem;
	}
}

/***** Tablet Landscape ****/

/***** Mobile ****/
@media screen and (max-width: 37.49em) {
	.navBtnBox {
		text-align: center;
		padding: 0;
	}

	.heading {
		font-size: 3rem;
		text-align: center;
		padding: 0 0.5rem;
	}

	.hi {
		display: block;
		text-align: center;
		font-size: 3.2rem;
	}

	.btnContainer {
		flex-direction: column;
		align-items: center;
		gap: 0;
	}

	.btn,
	.btn:link,
	.btn:active {
		margin-bottom: 1.5rem;
	}
}
