/********* DESKTOP **********/

/* UNIVERSAL */

.btn,
.btn:link,
.btn:active {
	font-size: 1.25rem;
	background-color: inherit;
	padding: 0.5rem 1rem;
	color: #ffc107;
	border: 1px solid #ffc107;
	border-radius: 7%;

	transition: all 0.2s;
}

.btn:hover {
	color: #ffc107;
	text-decoration: underline;

	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* PAGE */

.wouldYouRatherContainer {
	padding: 1rem;
	color: #fff;
}

.heading {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;
	margin-top: 1.25rem;
}

.subHeading {
	font-size: 1.9rem;
	color: #e6e6e6;
}

.btnBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.25rem;
}

.introText {
	font-size: 1.4rem;
}

.pageLink {
	color: #99e6ff;
}

.pageLink:hover {
	color: #99e6ff;
}

.button {
	transition: all 0.2s;
}

.button:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.buttonLink {
	color: #212529;
}

.buttonLink:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}

/********** RESPONSIVE **********/

/***** Tablet ****/

@media screen and (min-width: 600px) and (max-width: 900px) {
	.heading {
		font-size: 4rem;
	}

	.subHeading {
		font-size: 1.8rem;
	}
}

/***** Mobile ****/
@media screen and (max-width: 599px) {
	.heading {
		font-size: 3.5rem;
	}

	.subHeading {
		font-size: 1.3rem;
	}

	.introText {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}

	.pageLink {
		color: #99e6ff;
	}
}
