/********* DESKTOP **********/

.projectsContainer {
	height: 100%;
	padding: 1rem;
}

.cardBox {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 1.25rem;
	height: 100%;
}

.card {
	height: 50%;
	width: 45%;
}

.cardHeading {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
}
.cardBody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cardText {
	font-size: 1.25rem;
}

.btnDark {
	font-size: 1.25rem;
	padding: 0.5rem 1rem;
	border: 1px solid #ffc107;
	border-radius: 7%;

	transition: all 0.2s;

	background-color: #343a40;
	border-color: #343a40;
	color: #fff;
}

.btnDark:hover {
	color: #fff;
	text-decoration: underline;

	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnDark:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/********** RESPONSIVE **********/

/***** Tablet ****/

@media screen and (min-width: 37.5em) and (max-width: 56.25em) {
	.cardBox {
		flex-direction: column;
	}

	.card {
		height: 40%;
		width: 85%;
		margin: 0 auto;
	}

	.cardHeading {
		font-size: 3rem;
		text-align: center;
	}
	.cardBody {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

/***** Mobile ****/
@media screen and (max-width: 37.49em) {
	.projectsContainer {
		display: flex;
		flex-direction: column;
	}

	.cardBox {
		gap: 0;
		margin: 2rem 0;
	}

	.card {
		height: 49%;
		width: 85%;
		margin: 0 auto 1.5rem auto;
	}

	.cardHeading {
		font-size: 2rem;
		text-align: center;
	}

	.cardText {
		font-size: 1rem;
	}

	.btnDark {
		font-size: 1rem;
	}
}
