/********* DESKTOP **********/

.AboutContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex: 1;
	padding: 1rem;
	color: #fff;
}

.heading {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;

	animation: moveInLeft 1s ease-out;
}

.text {
	text-align: justify;
	font-size: 1.5rem;
	margin: 0;
	padding: 0 2rem;
}
.span {
	font-size: 1.8rem;
	color: #ffc107;
}

/********** RESPONSIVE **********/

/***** Tablet Portrait****/

@media screen and (min-width: 37.5em) and (max-width: 56.25em) {
	.AboutContainer {
		gap: 0;
		overflow-y: auto;
	}

	.heading {
		font-size: 4rem;
		margin: 0.8rem 0;
	}

	.text {
		font-size: 1.4rem;
		margin-bottom: 0.8rem;
	}
}

/***** Tablet Landscape ****/

@media screen and (min-width: 56.26em) and (max-width: 75em) {
	.AboutContainer {
		gap: 0;
		overflow-y: auto;
	}

	.heading {
		margin: 1rem 0;
	}

	.text {
		margin-bottom: 0.8rem;
	}
}

/***** Mobile ****/
@media screen and (max-width: 37.49em) {
	.AboutContainer {
		gap: 0;
		overflow-y: auto;
	}

	.heading {
		font-size: 3.5rem;
		margin: 1rem 0;
	}

	.text {
		font-size: 1.3rem;
		margin-bottom: 1rem;
		padding: 0;
	}
}
