.AboutContainer {
	padding: 15px;
}

.navBtnsBox {
	display: flex;
	justify-content: space-between;
}

.text {
	text-align: justify;
	font-size: 1.5rem;
	margin-top: 20px;
}
.span {
	font-size: 1.8rem;
	color: #ffc107;
}
