/* SHARED */

.wouldYouRather {
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: #fff;
	overflow: auto;
}

.input {
	margin: 0 auto;
	width: 50%;
	font-size: 1.1rem;
	display: block;
	text-align: center;
}

.btn {
	border-radius: 7%;
	padding: 0.4rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;

	cursor: pointer;
}

.btn:disabled {
	opacity: 0.5;
	cursor: default;
}

.muted {
	color: #6c757d;
}

.blueBtn {
	background-color: #007bff;
	border: 1px solid #007bff;
	color: #fff;
	margin: 0.6rem auto;

	font-size: 1rem;
}

.blueBtn:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}

.blueBtn:disabled:hover {
	background-color: #007bff;
	border: 1px solid #007bff;
}

.greenBtn {
	background-color: #28a745;
	border: 1px solid #28a745;
	color: #fff;
	width: 50%;
	margin: 0.3rem auto;

	font-size: 1rem;
}

.greenBtn:disabled:hover {
	background-color: #28a745;
	border: 1px solid #28a745;
}

.greenBtn:hover {
	background-color: #218838;
	border-color: #1e7e34;
	color: #fff;
	text-decoration: none;
}

.userAvatar {
	margin: auto 1.25rem auto 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	flex-shrink: 0;
}

.userDetails {
	padding: 0 1.25rem;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;

	flex: 1;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.userDetails p {
	margin: 0;
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1rem;
}

.userCardTitle {
	font-size: 1.25rem;
	text-align: left;
	padding: 0.5rem;
	background-color: #f2f2f2;
}

.selected-badge {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* AUTHENTICATION */

.authCardTitle {
	font-size: 3.4rem;
}

.authCardSubTitle {
	margin-top: 0.6rem;
	font-size: 1.9rem;
}

.heading3 {
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

.radioForm {
	margin: 1.9rem auto;
	display: flex;
	justify-content: center;
	gap: 1.9rem;
}

/* NAVIGATION */

.navItem {
	font-size: 1.1rem;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.navDropdown,
.navDropdownItem {
	font-size: 1.1rem;
}

/* DASHBOARD */
.headingBtn {
	background-color: #17a2b8;
	border: 1px solid #17a2b8;
	color: #fff;
	font-size: 1.25rem;
	width: 50%;
}

.headingBtnActive {
	background-color: #117a8b;
	border: 1px solid #10707f;
	color: #fff;
	font-size: 1.25rem;
	width: 50%;
}

.headingBtn:hover,
.headingBtnActive:hover {
	background-color: #138496;
	border-color: #117a8b;
}

.usersList {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.avatarLinks {
	font-size: 1rem;
}

/* PreviewCard */
.userCard {
	list-style-type: none;
}

.avatarPreview {
	width: 7.5rem;
	height: 7.5rem;
}

.heading6 {
	font-size: 1.2rem;
	text-align: left;
}

/* NewQuestion */

.heading4NewCard {
	font-size: 2rem;
	border-bottom: 1px solid #dee2e6;
	padding: 1rem;
}

.heading3NewQuestion {
	font-size: 1.75rem;
	text-align: left;
}

.heading4NewCard {
	font-size: 1.5rem;
}

.orNewQuestion {
	font-size: 1rem;
	font-weight: bold;
	margin: 0.6rem 0;
}

.btnNewQuestion {
	width: 15%;
	margin-top: 1.25rem;
}

/* CardLeaderboard */

.leaderboardCard {
	padding: 1.25rem;
	background: white;
	display: flex;
	border-bottom: 1px inset #ccc;
	width: 50%;
	border: 1px solid #ccc;
	margin: 0.6rem auto;
}

.leaderboardCardAvatar {
	width: 5rem;
	height: 5rem;
}

.scoreCardTitle {
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: bold;
	background-color: #f2f2f2;
}

.scoreCircle {
	background: #5ea226;
	border-radius: 25%;
	font-weight: bold;
	width: 60%;
	height: 3.1rem;
	margin: auto auto;
	line-height: 3.1rem;
	color: #ffffff;
	font-size: 1.9rem;
}

/* PollVote */

.pollVoteCard {
	width: 50%;
	margin: 0.6rem auto;
	border: 1px solid #ccc;
}

.pollVoteRadio {
	text-align: left;
	display: flex;
	align-items: center;
}
