/* UNIVERSAL */

.btn,
.btn:link,
.btn:active {
	font-size: 2rem;
	background-color: inherit;
	padding: 0.8rem 1.6rem;
	color: #ffc107;
	border: 1px solid #ffc107;
	border-radius: 0.5rem;

	transition: all 0.2s;
}

.btn:hover {
	color: #ffc107;
	text-decoration: underline;

	transform: translateY(-0.3rem);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* PAGE */

.navigation {
	display: flex;
	justify-content: flex-end;
}
