/********* DESKTOP **********/

/* UNIVERSAL */

.btn,
.btn:link,
.btn:active {
	font-size: 1.25rem;
	background-color: inherit;
	padding: 0.5rem 1rem;
	color: #ffc107;
	border: 1px solid #ffc107;
	border-radius: 7%;

	transition: all 0.2s;
}

.btn:hover {
	color: #ffc107;
	text-decoration: underline;

	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-0.1rem);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* PAGE */

.navigation {
	display: flex;
	justify-content: flex-end;
}

/********** RESPONSIVE **********/

/***** Tablet ****/

@media screen and (min-width: 37.5em) and (max-width: 75em) {
	.navigation {
		justify-content: center;
	}
}

/***** Mobile ****/
@media screen and (max-width: 37.49em) {
	.navigation {
		justify-content: center;
	}
}
