@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap");

* {
	letter-spacing: 1px;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	font-family: "Dosis", sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}

h1,
h2,
p {
	color: #ffffff;
	font-weight: normal;
}

.App {
	height: 100%;
}

button {
	font-weight: bold;
}
